{{ define "main" }}

<section class="single-page">
  <div class="container">
    <div class="project">
      <div class="project__card reveal-1">
        <div class="project__card--left">
          <h1>{{ .Title }}</h1>
          <div class="project__badges">
            {{ range $tags := .Params.tags }}
            <span>{{ $tags }}</span>
            {{ end }}
          </div>
          <p>{{ .Content }}</p>
          <div>
            <a href="{{ .Params.link_to_website }}" class="btn btn--card">Voir le site</a>
          </div>
        </div>
        <div class="project__card--right">
          <img
            alt="{{ .Params.alt_thumbnail }}"
            src="{{ .Params.medium_thumbnail | absURL }}"
            srcset="
            {{ .Params.medium_thumbnail | absURL }} 400w,
            {{ .Params.big_thumbnail | absURL }}    600w
            "
            sizes="(max-width: 900px) 400px, (min-width: 901px) 600px, 100vw "
          />
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!--Portfolio ends-->" | safeHTML }} {{ end }}
