{{ define "main" }} {{ with .Site.Params.portfolio }} {{ if .enable }}
<section class="single-page">
  <div class="container">
    <div class="global">
      <div class="global__title reveal-1">
        <div class="global__subheadline">
          <span>{{ .title }}</span>
        </div>
        <h2 class="global__headline">{{ .title }}</h2>
      </div>
      <div class="realisations">
        {{ $counter := 0 }}
        {{ range $.Site.RegularPages }}
        {{ $counter = add $counter 1 }}
        <article class="realisations__card reveal-{{ $counter }}">
          <div class="realisations__card--left">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
          </div>
          <div class="realisations__card--right">
            <a href="{{ .Permalink }}">
              <img
                loading="lazy"
                alt="{{ .Params.alt_thumbnail }}"
                src="{{ .Params.small_thumbnail | absURL }}"
                srcset="
                  {{ .Params.small_thumbnail | absURL }} 112w,
                  {{ .Params.big_thumbnail | absURL }}   600w
                "
                sizes="(max-width: 900px) 112px, (min-width: 901px) 600px, 100vw "
              />
            </a>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
    <div class="title90 title90--right">{{ .subtitle }}</div>
  </div>
</section>
{{ "<!--Portfolio ends-->" | safeHTML }} {{ end }} {{ end }} {{ end }}
