{{ with .Site.Params.about }} {{ if .enable }}
<section>
  <div class="container">
    <div class="global">
      <div class="global__title reveal-1">
        <div class="global__subheadline">
          <span>{{ .title }}</span>
        </div>
        <h2 class="global__headline">{{ .title }}</h2>
      </div>
      <div class="about">
        <div class="about__text reveal-1">
          <p>{{ .p_tag_1 }}</p>
          <p>{{ .p_tag_2 }}</p>
        </div>
        <div class="about__image reveal-2">
          <picture>
            <source media="(max-width: 767px)" srcset="{{ .image_small | absURL }}">
            <img loading="lazy" src="{{ .image_big | absURL }}" alt="{{ .alt }}">
          </picture>
          <a aria-label="twitter" href="https://twitter.com/vivieng_webdev"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="title90 title90--right">
        {{ .subtitle }}
      </div>
    </div>
</section>
{{ "<!--About ends-->" | safeHTML }} {{ end }} {{ end }}