{{ with .Site.Params.about }} {{ if .enable }}
<section>
  <div class="container">
    <div class="global padding-right animate-top">
      <div class="global-headline">
        <div class="sub-headline-section">
          <span>{{ .title }}</span>
        </div>
        <h2 class="headline-section">{{ .title }}</h2>
      </div>
      <div class="about-container">
        <div class="text-about animate-top">
          <p>{{ .p_tag_1 }}</p>
          <p>{{ .p_tag_2 }}</p>
        </div>
        <div class="image-about animate-top">
          <img src='{{ "images/vivieng-about.jpg" | absURL }}' loading="lazy" alt="VivienG" />
          <a href="https://twitter.com/vivieng_webdev"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="title90__right">
        {{ .subtitle }}
      </div>
    </div>
</section>
{{ "<!--About ends-->" | safeHTML }} {{ end }} {{ end }}