{{ with .Site.Params.banner }} {{ if .enable }}
<section class="hero" id="hero">
  <div class="hero-right">
    <div class="sub-headline">
      <picture>
        <source media="(max-width: 1200px)" srcset="{{ .image_small | absURL }}">
        <img src="{{ .image_big | absURL }}" alt="{{ .alt }}">
      </picture>
    </div>
  </div>
  <div class="hero-left">
    <h1 class="headline">{{ .heading }}</h1>
    <div class="headline-description">
      <div class="single-animation">
        <h5>{{ .tagline }}</h5>
      </div>
    </div>
  </div>
</section>
{{ "<!--Hero ends-->" | safeHTML }} {{ end }} {{ end }}
