{{ define "main" }}

<section class="single-page">
  <div class="container">
    <div class="global">
      <div class="global-headline">
        <div class="sub-headline-section">
          <span>{{ .Title }}</span>
        </div>
        <h1 class="headline-section">{{ .Title }}</h1>
      </div>
      <div class="email-block animate-top">
        <div class="email-block__left">
          <h2>Mon Email</h2>
        </div>
        <div class="email-block__right">
          <h3>Vous pouvez me contacter à cette adresse :</h3>
          <p>{{ .Params.email }}</p>
        </div>
      </div>
      {{ with .Site.Data.contact }}
      <div class="contact-card animate-top">
        <div class="contact-card-left">
          <h2>Questions fréquentes</h2>
        </div>
        <div class="contact-card-right">
          {{ range .questions_item }}
          <h3>{{ .question }}</h3>
          <p>
            {{ .answer | safeHTML }}
          </p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!--Contact ends-->

{{ end }}
