{{ define "main" }}

<section class="single-page">
  <div class="container">
    <div class="global">
      <div class="global__title reveal-1">
        <div class="global__subheadline">
          <span>{{ .Title }}</span>
        </div>
        <h2 class="global__headline">{{ .Title }}</h2>
      </div>
      <div class="email reveal-1">
        <div class="email__left">
          <h3>Mon Email</h3>
          <p>{{ .Params.email }}</p>
        </div>
      </div>
      {{ with .Site.Data.contact }}
      <div class="contact reveal-2">
        <div class="contact--left">
          <h3>Questions fréquentes</h3>
        </div>
        <div class="contact--right">
          {{ range .questions_item }}
          <h4>{{ .question }}</h4>
          <p>
            {{ .answer | safeHTML }}
          </p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!--Contact ends-->

{{ end }}
